.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/JaxLayerLumos.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/test_SE_jll.cpython-312-pytest-8.3.3.pyc
assets/.DS_Store
examples/.DS_Store
jaxcolors/__pycache__/__init__.cpython-312.pyc
jaxcolors/__pycache__/color_matching_functions.cpython-312.pyc
jaxcolors/__pycache__/composite.cpython-312.pyc
jaxcolors/__pycache__/illuminants.cpython-312.pyc
jaxcolors/__pycache__/transform.cpython-312.pyc
jaxcolors/__pycache__/utils.cpython-312.pyc
jaxlayerlumos.egg-info/dependency_links.txt
jaxlayerlumos.egg-info/PKG-INFO
jaxlayerlumos.egg-info/requires.txt
jaxlayerlumos.egg-info/SOURCES.txt
jaxlayerlumos.egg-info/top_level.txt
jaxlayerlumos/.DS_Store
jaxlayerlumos/__pycache__/__init__.cpython-312.pyc
jaxlayerlumos/__pycache__/jaxlayerlumos.cpython-312.pyc
jaxlayerlumos/__pycache__/jaxlayerlumos_old.cpython-312.pyc
jaxlayerlumos/__pycache__/jaxlayerlumos_old2.cpython-312.pyc
jaxlayerlumos/__pycache__/jaxlayerlumos_old_not_updated.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_layers.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_materials.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_position.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_radar_materials.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_radio_frequency.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_spectra.cpython-312.pyc
jaxlayerlumos/__pycache__/utils_units.cpython-312.pyc
jaxlayerlumos/__pycache__/wrappers.cpython-312.pyc
jaxlayerlumos/materials/.DS_Store
notes/Absorption_Notes.log
processing/__pycache__/lumerical_stackrt_multi_layers.cpython-312.pyc
tests/.DS_Store
.DS_Store
